body {
    text-align: center;
    margin: 0;
    background-image: url("images/sky.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.img-container {
    display: flex;
    height: 80vh;
    justify-content: center;
}

.text-container {
    display: flex;
    position: absolute;
    left: 65%;
    height: 10vh;
}

.button-container {
    display: flex;
    bottom: 20px;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.btn-lg {
    position: absolute;
    bottom: 20px;
    color: #ab9149;
    background-color: #fefaec;
    border-width: 2px;
    border-color: #ab9149;
    font-family: "Reenie Beanie", serif;
    font-size: xx-large;
    width: 120px;
    --bs-btn-padding-y: 0;
}

.character {
    height: 90vh;
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
}
  